<form action="/square/results">
<label for = "num2" > Enter a number </label>
<div>
<input id = "num2" type = "text" name="num" placeholder="What number do you want to take the square of?">
</div>
<button>Calculate square</button>
</form>
