<form action="/payment/results">
<div>
<label for = "int" > APR </label>
<input id = "int" type = "text" name="num">
</div>
<div>
<label for = "years" > Number of years? </label>
<input id = "years" type = "text" name="num">
</div>
<div>
<label for = "principal" > Principal </label>
<input id = "principal" type = "text" name="num">
</div>
<button>Calculate square root</button>
</form>
