<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minumum
  </dt>
  <dd>
    <%= @num1 %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @num2 %>
  </dd>

  <dt>
    Random number
  </dt>
  <dd>
     <%= @results %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
